# Puerto de la API
PORT=4000

# Entorno de ejecución (development, production)
NODE_ENV=development

# Configuración Base de Datos MySQL 8.0
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=wayka_db
DB_CONNECTION_LIMIT=10

# Configuración JWT (Seguridad)
JWT_SECRET=wayka_jwt_super_secret_key_2026_dev_sprint1
JWT_EXPIRES_IN=8h
JWT_REFRESH_SECRET=wayka_jwt_refresh_secret_key_2026_sprint1
JWT_REFRESH_EXPIRES_IN=7d

# Almacenamiento de Archivos (Adjuntos PDF)
UPLOAD_DIR=uploads
MAX_FILE_SIZE_MB=25

# Configuración CORS (URL del Frontend)
CORS_ORIGIN=http://localhost:5173
